jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libta-lib-dev

      - name: Install Python Dependencies
        run: pip install -r requirements.txt
